<section class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"  routerLink="/main">test-App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/main/home">Home</a>
          </li>
          <li class="nav-item">
            <a  class="nav-link active" aria-current="page" routerLink="/main/assets">Assets</a>
          </li>
          <li class="nav-item">
            <div class="position-relative">
              <a (click)="close()"  routerLink="/main/notifications/notification-list" class="nav-link" >Notifications</a>
              
             <!--<a (click)="toggleNotification()" class="nav-link" >Notifications</a>--> 
              <span *ngIf="notification" class="position-absolute top-0 start-100 mt-1 translate-middle badge rounded-pill bg-danger">
                {{notificationsCounter}}
              </span>
            </div>
          </li>
          

        </ul>
        
      </div>
    </div>
  </nav>
</section>

<section class="container-sm">
  <ng-template #notificationContainer></ng-template>
</section>

<div class="container">
<router-outlet></router-outlet>
</div>

  <!---->




  <!---->
  


  <!---->



  <!---->


