<div class="container mt-4">
    <h3 class="mb-4">Assets List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">description</th>
          <th scope="col">Status</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assetsList">
          <th scope="row">{{asset.id}}</th>
          <td>{{asset.assetType }}</td>
          <td>{{asset.description}}</td>
          <td>{{asset.status}}</td>
          <td>{{asset.value}}</td>
          <td><a routerLink='/main/assets/single-asset/{{asset.assetId}}' class="btn btn-primary">Go </a></td> 
        </tr>
      </tbody>
    </table>
    <div *ngIf="totalPages > 1" class="d-flex justify-content-between align-items-center mt-3 mb-3">
      <button 
        (click)="changePage(currentPage - 1)" 
        [disabled]="currentPage === 1" 
        class="btn btn-secondary" 
        [ngClass]="{'disabled': currentPage === 1}">
        Previous
      </button>
      
      <p class="mb-0">Page {{ currentPage }} of {{ totalPages }}</p>
      
      <button 
        (click)="changePage(currentPage + 1)" 
        [disabled]="currentPage === totalPages" 
        class="btn btn-secondary" 
        [ngClass]="{'disabled': currentPage === totalPages}">
        Next
      </button>
    </div>
</div>

